# Виртуальное окружение
venv/
.venv/
env/

# Переменные окружения (САМОЕ ВАЖНОЕ)
.env

# Байт-код Python
__pycache__/
*.pyc

# Логи
*.log

# База данных (если используешь SQLite файл, для Postgres не нужно)
*.db
*.sqlite3

# Настройки IDE
.idea/
.vscode/